Package: com.lemon07.ManchesterUnited07
Name: ManchesterUnited07
Version: 7.0
Architecture: iphoneos-arm
Description: Themes (springBoard)
Maintainer: keyson <keyson@outlook.com>
Author: keyson <keyson@outlook.com>
Sponsor: keyson <keyson@outlook.com>
Section: Themes (springBoard)
depiction: http://lemon07.github.io/web/manchesterunited07/
homepage: http://lemon07.github.io/web/manchesterunited07/
