Package: com.lemon07.Round07
Name: Round07
Version: 7.0
Architecture: iphoneos-arm
Description: http://lemon07.github.io/
Maintainer: keyson <keyson@outlook.com>
Author: keyson <keyson@outlook.com>
Sponsor: keyson <keyson@outlook.com>
Section: Themes (springBoard)
