Package: com.lemon07.KuaiDialHongKongBlackList07
Name: KuaiDialHongKongBlackList07
Version: 20150726
Architecture: iphoneos-arm
Description: HongKongBlackList
Maintainer: keyson <keyson@outlook.com>
Author: keyson <keyson@outlook.com>
Sponsor: keyson <keyson@outlook.com>
Section: HongKongBlackList
