Package: com.lemon07.ColorAppleBootLogo07iPadHD
Name: ColorAppleBootLogo07iPadHD
Version: 7.0
Architecture: iphoneos-arm
Description: Themes (springBoard)
Maintainer: keyson <keyson@outlook.com>
Author: keyson <keyson@outlook.com>
Sponsor: keyson <keyson@outlook.com>
Section: Themes (springBoard)
depiction: http://lemon07.github.io/web/colorapplebootlogo07ipadhd/
homepage: http://lemon07.github.io/web/colorapplebootlogo07ipadhd/
