Package: com.lemon07.iBlackListHongKongBlackList07
Name: iBlackListHongKongBlackList07
Version: 20150726
Architecture: iphoneos-arm
Description: iBlackListHongKongBlackList07
Maintainer: keyson
Author: keyson@outlook.com
Sponsor: keyson@outlook.com
Section: other
